#title{
    background-color: #ff4c68;
    color: white;
   
 
}
#title.container-fluid{
    padding:3% 15% 7%;
}

body{
    font-family: montserrat;
}
.container-fluid{
padding:7% 15% ;
}
h1,h3,h4,h5,h6{
 font-family: 'Montserrat-Bold';
}
.big-heading{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-size: 3rem;
    line-height: 1.5;   
}
.colored-section{
    background-color: #ff4c68;
    color: white;
}
.white-section{

    background-color: #fff;
}
.sub-heading{
    line-height: 1.5;
    font-size: 3rem;
}
p{
    color:#8f8f8f;
}
.navbar-brand{
    font-family: 'Ubuntu';
    font-size: 2rem;  
}
.button-download{
margin: 5% 3% 5% 0;
}
.phone-img{
transform: rotate(25deg);
width: 55%;
margin-top: 10%;
position: absolute;
Right:30%;

}
#features{


position: relative;
z-index: 1;
}
.feature-box{
text-align: center;
line-height: 1.5;
}
.icon{
    color:#ef8172;
    margin-bottom: 1rem;
}
.icon:hover{
    color: #ff4c68;
}
#testimonials{
background-color:#ef8172 ;
text-align: center;



}
.testimonial-img{
    width: 10%;
    border-radius: 100%;
}
#press{
    background-color:#ef8172 ;
    padding-bottom: 3%;  
    text-align: center;
}
.press-logo{
    width: 15%;
    margin:20px 20px 50px;
}

#pricing{
    padding: 100px;
}
.column{
    padding: 3% 2%;
}
@media(max-width:1028px)
{
    .phone-img{
        position: static;
        transform: rotate(0);

    }
    #title{
        text-align: center;
    }
    

}
#cta{
    text-align: center;
    padding: 5%;
}
#footer{
    text-align: center;
}
.social-icon{
   margin: 20px 10px;
}
